
<ion-content [fullscreen]="true" class="ion-padding">
  
  <a class="icon"href="">
  <ion-icon name='arrow-back'></ion-icon>
  </a>

  <h2>Create Your Account</h2>
  
  <ion-item>
    <ion-label class="label " position="stacked">Name</ion-label>
    <ion-input class="input"placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="label " position="stacked">Phone Number</ion-label>
    <ion-input class="input" placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="label" position="stacked">Email Address</ion-label>
    <ion-input class="input" placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item class="">
    <ion-label class="label" position="stacked">Address</ion-label>
    <ion-input class="input" placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item lines='none'>
    <ion-checkbox  slot="start"></ion-checkbox>
    <ion-label class="checklabel">I agree the <a class="lnk" href="">Terms & Condition</a></ion-label>
  </ion-item>

  <ion-button size="large" expand="full" shape="round" > Register </ion-button>
    
  <div style="position: absolute; bottom: 0px; width: 100%">
    <div style="text-align: center">
      <p>Already have account? <a class="lnk" href="">Login</a></p>
    </div>
  </div>
</ion-content>
  
