ion-content{
  font-family: "roboto";
}
ion-icon{
  font-size:27px;
}
.icon{
  color:#151515;
}

h2{
  font-size: 27px;
}

.label{ 
font-size:16px;
--color: #8E8E8E;
padding-top: 20px !important;
}

.input{
  font-size: 18px;
  color: #333333;
  padding-top: 11px !important;
  padding-bottom: 10px !important;
}

.checklabel{  
  font-size:14px;
  --color:#151515; 
}

ion-checkbox::part(container) {
  border-radius: 0px;
  border: 2px solid #F25C05;
}

.xx{
  --offset-bottom: 0 !important;
}

.center{
  text-align: center;
}

ion-button{ 
  --background:#F25C05;
  font-size: 18px;
  text-transform: none;
}

ion-checkbox {
  --size: 14px;
  --background-checked: #F25C05; 
}

a{
  color:#F25C05;
  text-decoration: none;
}

